@import 'colors';
// Simple Graphite Colors
$graphite-bg: #262626;      // Darkest - for backgrounds
$graphite-widget: #383838;  // Dark - for widgets
$graphite-inactive: #404040; // Medium - for inactive elements
$graphite-hover: #525252;   // Light - for hover states
$graphite-text: #DDDDDD;    // Lightest - for text/active

$round_ratio: 20px;

* {
    all: unset;
    font-weight: 900;
    font-family: jetbrains mono;
}

.bar {
    padding: 0.4rem 4px;
    background-color: $background;
}

.corner-top_left {
    background: radial-gradient(circle at bottom right, transparent $round_ratio, $background $round_ratio);
}

.corner-top_right {
    background: radial-gradient(circle at bottom left, transparent $round_ratio, $background $round_ratio);
}

.corner-bottom_left {
    background: radial-gradient(circle at top right, transparent $round_ratio, $background $round_ratio);
}

.corner-bottom_right {
    background: radial-gradient(circle at top left, transparent $round_ratio, $background $round_ratio);
}

.frame {
	background: $graphite-bg;
}

.workspace {
    border-radius: 1rem;
    min-width: 8px;
    padding: 0px 0px;
    transition: 0.3s;
    font-size: 0;
    margin: 0px 0px;
    background: $background;
}

.workspaces {
    background: $on_secondary;
    padding: 7px;
    margin: 1px;
    border-radius: 1rem;
    border: 0px solid $graphite-hover;
}

.workspace:hover {
    background-color: $graphite-hover;
    min-width: 30px;
}

.workspace.active {
    background-color: $on_primary_fixed;
    min-width: 25px;
}

.tray-item {
    all: unset;
}

.clock,.volume,.clock {
    font-size: 1.27rem;
    margin-right: 0rem;
    padding: 0px 5px;
    background: $on_secondary;
    color: $secondary_fixed;
    border-radius: 7px;
}

.lang {
    font-size: 1.27rem;
    margin-left: 0rem;
    padding: 0px 7px;
    background: $on_secondary;
    color: $secondary_fixed;
    border-radius: 7px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.fw {
    font-size: 1.27rem;
    margin-left: 0rem;
    padding: 0px 7px;
    background: $on_secondary;
    color: $secondary_fixed;
    border-radius: 15px;
}

