@import "colors.css";

* {
	font-size: 14px;
	font-weight: 900;
	font-family: Jetbrains Mono;
	min-height: 0px;
	padding: 0px;
}

window#waybar {
	background: @background;
}

#window {
	background: @secondary_container;
	color: @on_secondary_container;
	padding: 0 5px;
	font-size: 15px;
}

#clock {
	background: @primary_container;
	color: @on_secondary_container;
	padding: 0px 0px;
	font-size: 15px;
}

#tray {
	background: @on_secondary;
	color: @on_tertiary_container;
	padding: 0px 12px;
}

#language {
	background: @surface_bright;
	color: @primary;
	padding: 0 5px;
}

#pulseaudio {
	background: @secondary_container;
	color: @on_secondary_container;
	padding: 0 5px;
}

/* Powerline separators */
#custom-left, #custom-right {
	color: @primary_container;
	padding: 0;
	font-size: 20px;
}

#custom-left1, #custom-right1 {
	color: @on_secondary;
	background: @surface_bright;
	font-size: 20px;
}

#custom-left5 {
	color: @on_secondary;
	background: @surface_bright;
	font-size: 20px;
}

#custom-left2, #custom-right2 {
	color: @surface_bright;
	background: @secondary_container;
	font-size: 20px;
}

#custom-left3, #custom-right3 {
	color: @secondary_container;
	background: transparent;
	font-size: 20px;
}

#custom-left4 {
	color: @surface_bright;
	background: @on_secondary;
	font-size: 20px;
}

#custom-notification {
	background: @surface_bright;
	color: @primary;
	padding: 0 10px;
}

/* Workspaces */
#workspaces {
	background: @surface_bright;
	padding: 0px;
}

#workspaces button {
	background: @surface_container_high;
	color: @secondary;
	min-height: 0;
	margin: 2px 2px;
	padding: 0 8px;
	min-width: 10px;
	font-size: 5px;
	border-radius: 4px;
	transition: all 0.2s ease;
}

#workspaces button.active {
	background: @on_primary;
	color: @secondary;
	min-height: 0;
	margin: 2px 2px;
	padding: 0 8px;
	min-width: 36px;
	font-size: 5px;
	border-radius: 4px;
	transition: all 0.2s ease;
}

/* Active workspace */
#workspaces button.focused {
	background: @primary;
	color: @on_primary;
	font-weight: bold;
}

/* Workspace with windows */
#workspaces button.occupied {
	background: @tertiary;
	color: @on_tertiary;
}

/* Urgent workspace */
#workspaces button.urgent {
	background: @error;
	color: @on_error;
	animation: blink 1s linear infinite alternate;
}

/* Hover effect */
#workspaces button:hover {
	background: @secondary;
	color: @on_secondary;
	min-width: 5rem;
	border-radius: 40px;
}

/* Blinking animation for urgent workspaces */
@keyframes blink {
	to {
		background: @error_container;
		color: @on_error_container;
	}
}
