// Убираем тайтлы с окон
prefer-no-csd

// Автозапуск приложений
spawn-at-startup "dex" "-a" "-s" "~/.config/autostart/"
spawn-at-startup "ignis" "init"
spawn-at-startup "swaybg" "-i" "~/Downloads/differential_line_growth.png"
spawn-at-startup "xwayland-satellite"

// Настройка вывода
output "HDMI-A-1" {
    mode "1920x1080@143.981"
}

// Настройка ввода
input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }
    }
}

// Настройка окружения
environment {
    DISPLAY ":0"
    QT_QPA_PLATFORM "wayland"
    EDITOR "emacsclient"
}

// Горячие клавиши
binds {
    Mod+Return { spawn "alacritty"; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+Right { focus-column-right; }
    Mod+Left { focus-column-left; }
    Mod+M { maximize-column; }
    Mod+Q { close-window; }
    Print { screenshot-screen write-to-disk=true; }
    Super+T { toggle-window-floating; }
    Mod+Print { spawn "shot" "region" "wlrclipboard=1"; }
    Mod+SPACE { spawn "fuzzel"; }
	// Increase volume
	XF86AudioRaiseVolume {
    	spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+";
	}
    // Decrease volume
    XF86AudioLowerVolume {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-";
    }
    // Mute volume
    XF86AudioMute {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle";
    }
}

// Настройки внешнего вида
layout {
    gaps 2.7
    background-color "transparent"
    border {
        width 0
        active-color "#121316"
        inactive-color "#0e3159"
    }
    focus-ring {
        off
    }
}

// Настройки окон
window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
    tab-indicator {
        active-color "#121316"
        inactive-color "#0e3159"
    }
}

// Анимации
animations {
    slowdown 0.3
}

// Прочие настройки
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Настройка слоя с обоями в качестве фона
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

// Настройка прозрачного фона рабочего пространства

// Отключение теней рабочих пространств
overview {
    workspace-shadow {
        off
    }
}

